<div class="password-content">
  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
      {% include 'social-sharing' %}
    </div>
  {% endif %}

  <div class="password-powered-by">
    <small>{{ powered_by_link }}</small>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.password-footer.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "t:sections.password-footer.settings.show_share_buttons.label",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "t:sections.password-footer.settings.social_message.label",
      "default": {
        "cs": "Pošlete to dál",
        "da": "Spred budskabet",
        "de": "Mach Werbung",
        "en": "Spread the word",
        "es": "Corre la voz",
        "fi": "Levitä sanaa",
        "fr": "Faites passer le mot",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "ko": "소문 내기:",
        "nb": "Spre ordet",
        "nl": "Vertel het verder",
        "pl": "Przekaż dalej",
        "pt-BR": "Divulgue a novidade",
        "pt-PT": "Passar a palavra",
        "sv": "Sprid meddelandet",
        "th": "ประกาศ",
        "tr": "Haberleri duyurun",
        "vi": "Quảng bá",
        "zh-CN": "传播消息",
        "zh-TW": "四處宣傳"
      }
    }
  ]
}
{% endschema %}
