
.map-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
@media only screen and (min-width: 750px) {
  .map-section {
    min-height: 700px; } }

.map-section--load-error {
  height: auto; }

.map-section__wrapper {
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.map-section__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2; }

.map-section__error {
  position: relative;
  z-index: 3; }
@media only screen and (min-width: 750px) {
  .map-section__error {
    position: absolute;
    margin: 0 2rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); } }

.map-section__content-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  flex-grow: 0; }
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .map-section__content-wrapper {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%; } }
@media only screen and (min-width: 990px) {
  .map-section__content-wrapper {
    max-width:370px } }

.map-section__content {
  position: relative;
  display: inline-block;
  background-color: var(--color-bg-alt);
    padding: 35px;
    width: 100%;
    text-align: center;
    z-index: 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center; }
.map-section__content > * {
  width: 100%; }
@media only screen and (min-width: 750px) {
  .map-section__content {
    background-color: var(--color-bg);
      margin: 55px 0;
      min-height: 300px; } }
.map-section--load-error .map-section__content {
  position: static;
  transform: translateY(0); }

.map-section__link {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  max-width: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.map-section__container {
  max-width: none;
  width: 100%;
  height: 55vh;
  left: 0; }
@media only screen and (min-width: 750px) {
  .map-section__container {
    position: absolute;
    height: 100%;
    top: 0;
    width: 130%; } }

.map_section__directions-btn [class^="icon"] {
  height: 1em; }

.map_section__directions-btn * {
  vertical-align: middle; }

.map-section__background-wrapper {
  overflow: hidden;
  position: relative;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%; }
@media only screen and (min-width: 750px) {
  .map-section__background-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; } }
.map-section--onboarding .map-section__background-wrapper {
  min-height: 55vh; }

.map-section__image {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 750px) {
  .map-section__image {
    position: absolute; } }
.map-section--display-map .map-section__image {
  display: none !important; }
.map-section--load-error .map-section__image {
  display: block !important; }


.map-section .map-section__content {
  border-radius: 20px;
  text-align: left;
  padding: 60px; }
.map-section .rte-setting {
  margin-bottom: 50px; }
.map-section .map_section__directions-btn {
  width: 100%;
  justify-content: center; }

@media screen and (max-width:749px) {
  .map-section .map-section__content {
    padding:30px;
  }
}