.password-page { 
  display: block;
  height: 100%;
  width: 100%;
  color: var(--color-body-text);
    background-color: var(--color-body);
      background-size: cover; }

.password-login {
  text-align: right; }

.password-content {
  text-align: center; }

.password-content__title {
  display: block; }

.password-main {
  position: relative;
  z-index: 1;
  width: 100%;

  margin: 0 auto; }

.password-header__inner .site-header__logo-image img {
  height: auto;
}

.password-message {
  max-width: 500px;
  margin:  27.5px auto;}

.password-powered-by {
  margin-top: 82.5px; }

.password-social-sharing {
  margin-top: 82.5px; }

.password-powered-by a:not([disabled]):hover, .password-powered-by a:focus {
  color: var(--color-text-focus);
    border-bottom: 1px solid var(--color-text-focus); }

.password-page {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; }
.password-page .password-header {
  position: relative;
  z-index: 2;
  height: auto;
  display: block;
  padding: 75px 0 25px 0; }
.password-page .password-header .password-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.password-page .password-header .password-header__inner:after {
  content: none; }
.password-page .password-header .password-header__inner .site-header__logo-image {
  margin: 0;
  width: 50%;
  padding-right: 15px; }
.password-page .password-header .password-header__inner .password-login {
  padding-left: 15px;
  padding-right: 0; }
.password-page .password-header .password-header__inner .password-login a {
  color: var(--color-btn-primary);
    font-weight: 700;
    display: inline-flex;
    align-items: center; }
.password-page .password-header .password-header__inner .password-login a svg {
  width: 15px;
  height: auto;
  margin-right: 8px; }
.password-page .password-main__inner {
  display: block;
  padding: 55px  0;
  max-width: 470px; }
.password-page .password-main__inner .password-content {
  text-align: left;
  color: #fff;
 }
.password-page .password-main__inner .password-content p,
.password-page .password-main__inner .password-content .rte {
color: #fff;
}
.password-page .password-main__inner .password-content .password-content__title {
  text-transform: none;
  margin-bottom: 40px; }

.password-page .password-main__inner .password-content--rte {
  padding-top: 25px;
  margin-bottom: 20px; }
.password-page .password-main__inner .password-content--rte p {
  font-weight: 600; }
.password-page .password-main__inner .form-single-field {
  max-width: 100%;
  margin-bottom: 40px; }
.password-page .password-main__inner .form-single-field .input-group__field {
  margin-bottom: 0; }
.password-page .password-main__inner .input-group__btn {
  margin-left: 10px; }
.password-page .password-main__inner .input-group__btn .btn {
  border-radius: 50%;
  padding: 0;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center; }
.password-page .password-main__inner .password__form-heading {
  color: #fff;
  margin-bottom: 30px; }
.password-page .password-main__inner .social-sharing {
  justify-content: flex-start; }
.password-page .password-main__inner .social-sharing li {
  margin-right: 11px; }
.password-page .password-main__inner .social-sharing .btn--share {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff; }

.input-group__field {
  border-radius: 50px;
  border: 0;
  padding: 10px 30px; }

.password-login {
  position: relative; }
.password-login .password-login-modal {
  position: absolute;
  background: #fff;
  right: 0;
  border-radius: 20px;
  padding: 30px;
  min-width: 350px;
  margin-top: 30px;
  display: none; }
.password-login .password-login-modal.active {
  display: block; }
.password-login .password-login-modal .password__form-heading {
  text-align: left; }
.password-login .password-login-modal .input-group__field {
  background: #e0e0e0;
  margin-bottom: 12px; }
.password-login .password-login-modal .btn {
  border-radius: 50px; }

@media screen and (max-width: 480px) {
  .password-page .password-main__inner {
    padding: 50px 0; }

  .password-page .password-header .password-header__inner {
    display: block; }
  .password-page .password-header .password-header__inner .password-login {
    padding: 0;
    margin-top: 30px; } }

.password-page .section_bg_image  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}
.password-page .background_image_overlay  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}


.social-sharing {
  display: flex;
  align-items: center;
}
.password-powered-by a {
color: #fff;
}
.password-powered-by a:hover {
    color: var(--color-btn-primary) !important;
    border: none !important;
}

.password-page .password-main__inner .social-sharing .btn--share:hover {
	background: var(--color-btn-primary);
}

.password-page .password-main__inner .social-sharing .btn--share:hover svg {
	color: #fff;
}